html {
	margin: 3em;
	background-color: #D9D9D9;
	font-family: serif, Palladio;
	line-height: 1.5em;
	color: #111;
}


/* Links are `a` elements in HTML */
a {
	text-decoration: none;
	margin: 0 0.5em 0 0;
	padding: 3px;
}

/* :hover	 is what it will look like when you hover the mouse over an element */
a:hover {
	background-color: #a5a5af;
}

/* You can define any color with a 3-digit "hex-code" */
/* The three values are from 0-F, and represent Red, Green, Blue */
header {
font-family: serif, Palladio;
	color: #111;
	font-size: 150%;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-left: 15px solid #3c3c3c;
	background-color: #eeeeee;
}

article {
	border: 1px solid silver;
	padding: 2em;
	background-color: #eeeeee;
}

/* Styles attached to element-names apply to _every_ element
	 with that name */
div {
	border: 1px solid silver;
	padding: 5px;
	border-top: hidden;
}

/* To specify style for only _some_ elements
	 you can identify them by classes (the classes have to be
	 in the HTML)
*/
div.cts_tocLink {
	color: #111;
	border-left: 6px solid #626e60;
	background-color: #d1e8e2;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}
div.cts_nav {
border-top: 1px solid silver;
}

div.cts_corpus {
	border: 1px solid silver;
	font-family: serif, Palladio;
}


/* You can specify just a class name… */
.cts_workTitle {
	font-style: italic;
}

/* Fonts are tricky… read about them online! */
.cts_citationScheme {
	color: #111;
}

.cts_corpusTitle {
	color: #111;
	border: 1px solid silver;
	border-left: 6px solid #626e60;
	padding: 0.5em;
	background-color: #d1e8e2;
}

/* You can add space on any side of something with:
		- margin-right
		- margin-left
		- margin-top
		- margin-bottom

*/
.cts_ref {
	margin-right: 2em;
	opacity: 0.5;
}

.cts_node {
	margin-top: 1em;
	max-width: 40em;
	margin-left: 1.5em;
	background-color: #d1e8e2;
	border: 1px solid #626e60;
}

div.cts_catalog{

}

.cts_siteDesc {
	border-top:1px solid silver;
	padding: 0.5em;
}

.cts_tocTitle{
	border-left: 6px solid #626e60;
	background-color: #d1e8e2;
	border-top:1px solid silver;
	padding: 0.5em;
}

div.cts_tocFull{
border-top:1px solid silver;
}

.cts_toc {
	border: 1px solid #626e60;
	background-color: #d1e8e2;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin: 1em;
	margin-top:0.5em;
}

.cts_tocBit {

}

.cts_tocEntry {

}

.cts_tocIndex{

}

progress.cts_progress {
	width: 100%;
}
